
@{
    ViewBag.Title = "ListTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12 Addstudent-bg">
    <div class="col-xs-12 col-md-10 col-lg-9 col-md-offset-2 col-lg-offset-3 pad-top-20 pad-bottom-20 white-color">
        <div class="col-xs-9 col-sm-10 fw-bold">
            Select Videos
        </div>
        <div class="col-xs-3 sm-side-no-pad col-sm-2 div-action">
            <div class="col-xs-4 side-no-pad">
                View:
            </div>
            <div class="col-xs-8 col-sm-7 side-no-pad">
                <select class="form-control ">
                    <option>Newest</option>
                    <option>Newest</option>
                    <option>Newest</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-10 col-lg-9 col-md-offset-2 col-lg-offset-3 white-color">
        <div class="col-xs-12 side-no-pad pad-bottom-20">
            <div class="col-xs-10 fw-bold">
                <div class="col-xs-1 side-no-pad">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input div-checkbox1" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                        </label>
                    </div>
                </div>
                <div class="col-xs-3 leftside-no-pad">
                    <select class="form-control text-color">
                        <option>Course</option>
                        <option>Newest</option>
                        <option>Newest</option>
                    </select>
                </div>
                <div class="col-xs-3 rightside-no-pad">
                    <select class="form-control text-color">
                        <option>Subject</option>
                        <option>Newest</option>
                        <option>Newest</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-2 sm-side-no-pad">
                <div class="col-xs-11 side-no-pad">
                    <select class="form-control text-color">
                        <option>Action</option>
                        <option>Newest</option>
                        <option>Newest</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 side-no-pad  pad-top-10 pad-bottom-20">
            <div class="col-xs-12 col-md-12 col-lg-10 fw-bold">
                <div class="col-xs-1 side-no-pad">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input div-checkbox" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                        </label>
                    </div>
                </div>
                <div class="col-xs-10 side-no-pad white-bg border-rad">
                    <div class="col-sm-3 col-xs-6 grey-bg-sm div-video">
                        <video>
                            <source src="~/assets/videos/New Zealand.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="col-sm-9 col-xs-12 black-color pad-left-20 pad-top-10">
                        <p class="no-bottom text-color fw-bold">Map based questions for MCQS</p>
                        <p class="no-bottom small-font"><span>Course:</span><span> </span><span class="aqua-color">UPSC</span></p>
                        <p class="no-bottom small-font"><span>Subject:</span><span> </span><span class="aqua-color">Anthroplolgy</span></p>
                        <p class="no-bottom smaller-font text-color right-align">sep 26 2017 12:53 AM</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 side-no-pad  pad-top-10 pad-bottom-20">
            <div class="col-xs-12 col-md-12 col-lg-10 fw-bold">
                <div class="col-xs-1 side-no-pad">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input div-checkbox" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                        </label>
                    </div>
                </div>
                <div class="col-xs-10 side-no-pad white-bg border-rad">
                    <div class="col-sm-3 col-xs-6 grey-bg-sm div-video">
                        <video>
                            <source src="~/assets/videos/New Zealand.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="col-sm-9 col-xs-12 black-color pad-left-20 pad-top-10">
                        <p class="no-bottom text-color fw-bold">Map based questions for MCQS</p>
                        <p class="no-bottom small-font"><span>Course:</span><span> </span><span class="aqua-color">UPSC</span></p>
                        <p class="no-bottom small-font"><span>Subject:</span><span> </span><span class="aqua-color">Anthroplolgy</span></p>
                        <p class="no-bottom smaller-font text-color right-align">sep 26 2017 12:53 AM</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 side-no-pad  pad-top-10 pad-bottom-20">
            <div class="col-xs-12 col-md-12 col-lg-10 fw-bold">
                <div class="col-xs-1 side-no-pad">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input div-checkbox" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                        </label>
                    </div>
                </div>
                <div class="col-xs-10 side-no-pad white-bg border-rad">
                    <div class="col-xs-6 col-sm-3 grey-bg-sm div-video">
                        <video>
                            <source src="~/assets/videos/New Zealand.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="col-sm-9 col-xs-12 black-color pad-left-20 pad-top-10">
                        <p class="no-bottom text-color fw-bold">Map based questions for MCQS</p>
                        <p class="no-bottom small-font"><span>Course:</span><span> </span><span class="aqua-color">UPSC</span></p>
                        <p class="no-bottom small-font"><span>Subject:</span><span> </span><span class="aqua-color">Anthroplolgy</span></p>
                        <p class="no-bottom smaller-font text-color right-align">sep 26 2017 12:53 AM</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


