
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12 Addstudent-bg">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 pad-bottom-20 liststudent-item text-align">
        <div class="col-xs-6 col-sm-4 col-lg-6 item-pad">
            <a href="@Url.Action("AddTestDetails", "TestDetail")" target="_self">
                <div class="home-item">
                    <p class="liststudent-item">Add Test</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-6 item-pad">
            <a href="@Url.Action("ListTestDetail", "TestDetail")">
                <div class="home-item">
                    <p class="liststudent-item">List Test</p>
                </div>
            </a>
        </div>
    </div>
</div>

